<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AccessoriesStore" connectionString="Data Source=DESKTOP-DBGIJ2Q\SQLEXPRESS;Initial Catalog=Accessories;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AccessoriesEntities" connectionString="metadata=res://*/AccessoriesStorDBModel.csdl|res://*/AccessoriesStorDBModel.ssdl|res://*/AccessoriesStorDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DBGIJ2Q\SQLEXPRESS;initial catalog=Accessories;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccessoriesBD" connectionString="metadata=res://*/AccessoriesStoreDataModel.csdl|res://*/AccessoriesStoreDataModel.ssdl|res://*/AccessoriesStoreDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DBGIJ2Q\SQLEXPRESS;initial catalog=Accessories;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccessoriesEntitiesBD" connectionString="metadata=res://*/ASDM.csdl|res://*/ASDM.ssdl|res://*/ASDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DBGIJ2Q\SQLEXPRESS;initial catalog=Accessories;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccessoriesStoreDB" connectionString="metadata=res://*/StoreDM.csdl|res://*/StoreDM.ssdl|res://*/StoreDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7NIV96T\SQLEXPRESS;initial catalog=Accessories;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APMpsychoEntities" connectionString="metadata=res://*/APMmodel.csdl|res://*/APMmodel.ssdl|res://*/APMmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DBGIJ2Q\SQLEXPRESS;initial catalog=APMpsycho;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>